.avatar-container {
    display: flex;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
  }